.radio-option {
	margin-right: 10px;
	padding: 15px;
}

.delete-button {
	max-width: min-content;
}

.item-label {
	padding-right: 20px;
}

.delete-icon {
	color: red !important;
	margin: 0px;
}

::ng-deep.mat-menu-panel {
	min-width: fit-content;
}


.menu {
	margin-top: 10px;
}

.menu-item {
	cursor: default;
}
