.search-field {
	padding-left: 25%;
	width: 75%;
	display: grid;
}

.centered-div {
	background: ghostwhite;
	width: 50%;
	padding-right: 0px;
}

.pie-div {
	width: 50%;
}

// .field-div {
// 	margin-top: 10px;
// }


