<app-corpus-model (valuesSelected)="registerValues($event)"></app-corpus-model>

<div>
<mat-tab-group *ngIf="selectedModel" [(selectedIndex)]="selectedTab">

	<mat-tab label="{{ 'APP.EWB-COMPONENT.MODEL-OVERVIEW' | translate }}"><app-model-overview [corpus]="selectedCorpus" [model]="selectedModel"></app-model-overview></mat-tab>
	<mat-tab label="{{ 'APP.EWB-COMPONENT.SIMILARITIES' | translate }}"><app-similarities [corpus]="selectedCorpus" [model]="selectedModel"></app-similarities></mat-tab>
	<mat-tab label="{{ 'APP.EWB-COMPONENT.DOCUMENT-SEARCH' | translate }}"><app-document-search-view [corpus]="selectedCorpus" [model]="selectedModel"></app-document-search-view></mat-tab>
	<mat-tab disabled>
		<ng-template mat-tab-label>
			<app-topic-relevance *ngIf="selectedModel && selectedTab === 0" [model]="selectedModel"></app-topic-relevance>
		</ng-template>
	</mat-tab>
</mat-tab-group>

</div>
