.centered-div {
    padding-left: 25%;
}

.title-span {
    background-color: #38260edc;
    color: white;
	display: block;
	text-align: center;
	border-radius: 5px;
}

::ng-deep app-ewb .mat-tab-label:last-child {
	color: black !important;
	margin-left: auto;
	opacity: 1;
}
