.title-span {
    display: block;
    background-color: #38260edc;
    color: white;
	text-align: center;
	border-radius: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.model-selection-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
