.title-span {
    display: block;
    background-color: #38260edc;
    color: white;
	text-align: center;
	border-radius: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.model-selection-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.text-area-style {
	height: 120px;
	border: solid rgb(214, 214, 214);
	border-radius: 0px 5px 5px 0px;
}
